<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="SwagLab Item Purchasing Test">
    <test verbose="2" preserve-order="true" name="SwagLab">
        <classes>

            <class name="com.swaglab.pom.testcase.TC01LoginTest"/>
            <class name="com.swaglab.pom.testcase.TC02ProductTest"/>
            <class name="com.swaglab.pom.testcase.TC03ProductToProductDetailTest"/>
            <class name="com.swaglab.pom.testcase.TC04ProductToCartTest"/>
            <class name="com.swaglab.pom.testcase.TC05CartTest"/>
            <class name="com.swaglab.pom.testcase.TC06CheckoutTest"/>
            <class name="com.swaglab.pom.testcase.TC07CheckoutOverviewTest"/>
            <class name="com.swaglab.pom.testcase.TC08FinishTest"/>

        </classes>
    </test>
</suite>