<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="SwagLab Item Purchasing Test">
    <test verbose="2" preserve-order="true" name="SwagLab">
        <classes>
            <class name="com.swaglab.pom.testcase.TC_01_LoginTest">
            </class>
            <class name="com.swaglab.pom.testcase.TC_02_ProductTest">
            </class>
            <class name="com.swaglab.pom.testcase.TC_03_ProductToProductDetailTest">
            </class>
            <class name="com.swaglab.pom.testcase.TC_04_ProductToCartTest">
            </class>
            <class name="com.swaglab.pom.testcase.TC_05_CartTest">
            </class>
            <class name="com.swaglab.pom.testcase.TC_06_CheckoutTest">
            </class>
            <class name="com.swaglab.pom.testcase.TC_07_CheckoutOverviewTest">
            </class>
            <class name="com.swaglab.pom.testcase.TC_08_FinishTest">
            </class>
        </classes>
    </test>
</suite>