<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="SwagLab Item Purchasing Test">
    <test verbose="2" preserve-order="true" name="SwagLab">
        <classes>
            <class name="com.swaglab.pom.testcase.LoginTest">
            </class>
            <class name="com.swaglab.pom.testcase.ProductTest">
            </class>
            <class name="com.swaglab.pom.testcase.CartTest">
            </class>
            <class name="com.swaglab.pom.testcase.CheckoutTest">
            </class>
            <class name="com.swaglab.pom.testcase.CheckoutOverviewTest">
            </class>
            <class name="com.swaglab.pom.testcase.FinishTest">
            </class>
        </classes>
    </test>
</suite>